.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home span[role="headers"] > header {
  margin-bottom: 1rem;
}

.home span[role="headers"] > header:last-child {
  margin-bottom: 0;
}
